@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #f95192;
    --background-color: #faf9fa;
    --text-color: #222;
    --main-background-color: #fff;
    --main-text-color: rgba(0,0,0,0.85);
    --main-border-color: #f0f0f0;
    --red-button-bg-color: #fdeaf1;
    --red-button-text-color: #f95997;
    --network-button-bg-color: #f3f3f4;
    --empty-text-color: rgba(0,0,0,0.25);
    --divider-border: 1px solid #f0f0f0;
    --divider-color: #f0f0f0;
    --fade-text-color: rgba(0,0,0,0.45);
    --placeholder-text-color: rgba(54,54,54,0.3);
    --input-border: 1px solid #d9d9d9;
    --default-btn-text-color: #555;
    --default-btn-bg-color: #fff;
    --default-btn-border: 1px solid #d9d9d9;
    --alert-info-bg-color: #fff0f3;
    --alert-info-border: 1px solid #ffcfdc;
    --alert-warning-bg-color: #fffbe6;
    --alert-warning-border: #ffe799;
    --alert-warning-text-color: #222;
    --progress-bg-color: #f5f5f5;
    --clock-text-color: #222;
    --disabled-bg: rgba(0,0,0,0.1);
    --disabled-text-color: rgba(0,0,0,0.3);
    --active-menu-item-bg: #fff0f3;
    --active-menu-item-text: #f95192;
    --alert-success-bg-color: #ebf8f2;
    --alert-success-border: 1px solid #e1f5eb;
    --alert-success-text-color: #5e6461;
    --table-row-hover: #fafafa;
    --advanced-mode-secondary-text: rgba(0,0,0,0.08);
    --notice-bg: #fffbeb;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}